<ion-header>
  <ion-navbar>
    <ion-title>MakerHub</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="list-avatar-page">

  <ion-searchbar></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let deal of deals">
      <ion-thumbnail item-start>
        <img src="https://scontent.fktm7-1.fna.fbcdn.net/v/t1.0-1/c0.0.160.160/p160x160/12802997_1290698474278626_3573775777847314983_n.jpg?_nc_cat=0&oh=dd99953c2c5bf03f7ff06bb31bfae618&oe=5B944C74">
      </ion-thumbnail>
      <h2>{{deal.aliasName}}</h2>
      <p *ngFor="let error of errors">
        <span>{{error}}</span> town ain't big enough for the two of us!</p>
      <ion-note item-end>3:43 pm</ion-note>
    </ion-item>
  </ion-list>
</ion-content>
