<ion-header>

  <ion-navbar>

    <ion-title>
      Inventory
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="openAddInventoryPage()">
        <ion-icon name="apps"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content>

  <current-collection></current-collection>

  <ion-grid>

    <ion-row *ngFor="let row of rows">
      <ion-col col-6 *ngFor="let item of row">
        <ion-card>
          <div *ngFor="let itemImage of item.itemImages">
            <img src="{{itemImage.imageUrl}}" />
          </div>
          <ion-card-content>
            <p>{{item.itemName}}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
